
$backgroundColor: #1d1b1b; 

@font-face {
    font-family: 'wedgieregular';
    //Fonts imported by Webpack
    src: url('../static/fonts/wedgie_regular-webfont.woff2') format('woff2'),
         url('../static/fonts/wedgie_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
   height: 100%;
   width:100%;
}

body{
    // background-color: $backgroundColor;
    color: orange;
    font-family:  'wedgieregular', sans-serif;
    text-align: center;
    margin: 0px;
    overflow: hidden;
}

#three-container{
    position: absolute;
    top:0px;
    left:0;
    width: 100%;
    height: 100%;
}

#stats{
    position: absolute;
    top:0;
    left:0;
}